body {
      font-family: 'Orbitron', sans-serif;
    background-color: #0b0c10;
    color: #c5c6c7;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('/static/stars.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: background 0.5s ease-in-out;
    opacity: 0;
}

