body {
      font-family: 'Orbitron', sans-serif;
    background-color: #0b0c10;
    color: #c5c6c7;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeY2HOet7NyOX_iWxp0JrqH5gsaS2R8yVeVA&s');
    background-size: cover;
    opacity: 0;
}

